.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-wrapper {
  margin-bottom: 4rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: orange !important;
}

.swiper-pagination-bullet {
  background-color: white;
}

.swiper-button-prev,
.swiper-button-next {
  display: hidden;
}
